<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ayuda Kario Media</title>
        <link rel="stylesheet" href="../css/Ayuda.css">
        <link rel="shortcut icon" href="../storage/img/logito.png" type="image/x-icon">
    </head>
    <body>
        <div class="paginaprincipal">
            <div class="encabezado">
                <a href="../views/usuario.html" class="imgA"><img src="../storage/img/+.png"></a>
                <a class="añadir" href="../views/usuario.html">Añadir</a>
                <a href="../views/Ayuda.html" class="imgR"><img src="../storage/img/reload.png"></a>
                <a class="refrescar" href="../views/Ayuda.html">Refrescar</a>
                <a href="../views/Eliminar.html" class="imgE"><img src="../storage/img/remove.png"></a>
                <a href="../views/Eliminar.html" class="eliminar">Eliminar</a>
                <a href="../views/usuario.html" class="imgL"><img src="../storage/img/logito.png"></a>
                <a href="../views/Reportar.html" class="imgB"><img src="../storage/img/bug.png"></a>
                <a href="../views/Reportar.html" class="reportar" >Reportar</a>
                <a href="../views/Ayuda.html" class="imgP"><img src="../storage/img/pregunta.png"></a>
                <a class="ayuda" href="../views/Ayuda.html">Ayuda</a>
                <a href="#" class="configuracion"><img src="../storage/img/configurar.png"></a>
                <a href="#" class="notificacion"><img src="../storage/img/notificacion.png"></a>
                <a href="#pop" class="fotitop"><img src="../storage/img/fotito.png"></a>
                    <div id="pop" class="new">
                        <div class="salir">
                            <img class="fotolo" src="../storage/img/foto.png"></a>
                            <p class="name-salir">Pedro Felipe Gómez Bonilla</p>
                            <a href="../views/usuario.html">
                                <div class="agregar">
                                    <img class="agregar-media" src="../storage/img/mas.png">
                                    &nbsp;&nbsp;Agregar
                                </div>
                            </a>   
                            <a href="../index.html">
                                <div class="log-out">
                                    <img class="salir-media" src="../storage/img/salir.png">
                                     &nbsp;&nbsp;Salir
                                </div>
                            </a> 
                            <a href="#Cerrar">
                                <img class="icono-cerrar" src="../storage/img/cerrar.png">
                            </a>
                        </div>
                    </div>
            </div>
            <div class="Ayuda-Contenido">
                <p class="Centro">Centro de Ayuda de Kario Media</p>
                <div class="ayudab">
                    <img class="lupa" src="../storage/img/lupita.png">
                    <input class="texto" type="text" placeholder="¿Cómo podemos ayudarte?">
                </div>
                <p class="Necesitas">¿Necesitas más ayuda?</p>
                <a href="#">
                    <div class="contacto">Contáctanos</div>
                </a>
            </div>
        </div>    
    </body>
</html>