@font-face {
    font-family: 'MyriadProLight';
    src: url('/fuentes/MyriadProLight.otf') format('truetype');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('/fuentes/MyriadProRegular.ttf') format('truetype');
}
/*------------Panel Usuario---------------*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo2{
    opacity: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url(/media/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: desvanecer;
    animation-duration: 6s;
}
@keyframes desvanecer {
    0%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
.logoK2{
    width: 10.2vi;
    height: 9.2vi;
    opacity: 0;
    animation-name: imagen;
    animation-delay: 4s;
    animation-duration: 5s;
}
@keyframes imagen {
    0%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
.panelUsuario{
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    width: 48.75vi;
    height: 28.6vi;
    border: 0.1vi solid #707070;
    border-radius: 3.5vi;
    opacity: 0;
    text-align: center;
    animation-name: panelUsuario;
    animation-duration: 4s;
}
@keyframes panelUsuario {
    0%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}
.Bnuevo{
    position: absolute;
    font-family:'MyriadProRegular' ;
    font-size: 2.084vi;
    top: 7.5vi;
    left: 15.6vi;
}
.foto{
    position: absolute;
    width: 5.521vi;
    height: 5.521vi;
    top: 13.5vi;
    left: 21.6vi;
}

.nombre{
    position: absolute;
    font-family:'MyriadProRegular' ;
    font-size: 2.084vi;
    top: 18vi;
    left: 12.7vi;
}
.Admin{
    position: absolute;
    font-family:'MyriadProLight';
    font-size: 1.07vi;
    top: 23vi;
    left: 19.7vi;
}
/*------------Panel Indicadores---------------*/
.paginaprincipal{
    position: absolute;
    top: 0%;
    opacity: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-name: desvanecer2;
    animation-duration: 5s;
}
@keyframes desvanecer2 {
    0%{opacity: 0;}
    90%{opacity: 0;}
    98%{opacity: 0;}
    100%{opacity: 1;}
}
.encabezado{
    display: flex;
    align-items: center;
    border-bottom: #707070 solid 0.1vi;
    height: 8vh;
    width: 100vw;
    font-family:'MyriadProRegular';
    color: black;
}
a{
    text-decoration: none;
}
.imgA{
    position: absolute;
    display: flex;
    left: 5vi;
    width: 1.62vi;
    height: 1.62vi;
}
.añadir{
    position: absolute;
    left: 8vi;
    font-size: 1.25vi;
    color: black;
}
.imgR{
    position: absolute;
    display: flex;
    left: 18vi;
    width: 1.5vi;
    height: 1.5vi;
}
.refrescar{
    position: absolute;
    left: 20vi;
    font-size: 1.25vi;
    color: black;
}
.imgE{
    position: absolute;
    display: flex;
    left: 30vi;
    width: 1.4vi;
    height: 1.7vi;
}
.eliminar{
    position: absolute;
    left: 32vi;
    font-size: 1.25vi;
    color: black;
}
.imgL{
    position: absolute;
    display: flex;
    left: 48vi;
    width: 2.2vi;
    height: 2vi;
}
.imgB{
    position: absolute;
    display: flex;
    left: 63vi;
    width: 1.78vi;
    height: 1.98vi;
}
.reportar{
    position: absolute;
    left: 65vi;
    font-size: 1.25vi;
    color: black;
}
.imgP{
    position: absolute;
    display: flex;
    left: 75vi;
    width: 1.78vi;
    height: 1.78vi;
}
.ayuda{
    position: absolute;
    left: 77vi;
    font-size: 1.25vi;
    color: black;
}
.configuracion{
    position: absolute;
    display: flex;
    left: 90vi;
    width: 1.5vi;
    height: 1.5vi;
}
.notificacion{
    position: absolute;
    display: flex;
    left: 93vi;
    width: 1.5vi;
    height: 1.5vi;
}
.fotito{
    position: absolute;
    display: flex;
    left: 96vi;
    width: 3vi;
    height: 3vi;
}
/*----------------Indicadores-----------------*/
.linea1{
    height: 4.5vi;
}
.titulo_I{
    position: relative;
    font-family:'MyriadProRegular' ;
    font-size: 2vi;
}
.Aqui{
    position: relative;
    font-family:'MyriadProLight';
    font-size: 1vi;
}
.nombres{
    position: relative;
    font-family:'MyriadProRegular' ;
    font-size: 1vi;
    width: 85vi;
    left: 5vi;
    display: flex;
    justify-content: space-evenly;
}
.Modelado{
    position: relative;
    font-family:'MyriadProLight';
    font-size: 1vi;
    border: #707070 solid 0.1vi;
    border-radius: 1vi;
    width: 85vi;
    left: 5vi;
    display: flex;
    justify-content: space-evenly;
}
.barras{
    position: relative;
    left: 92vi;
    top: -2.6vi;
    display: flex;
    flex-wrap: wrap;
    width: 2vi;
    height: 2.5vi;
}
.barrita1{
    display: flex;
    width: 2vi;
    height: 0.3vi;
    background-color: black;
} 
.barrita2{
    display: flex;
    width: 2vi;
    height: 0.3vi;
    background-color: black;
} 
.barrita3{
    display: flex;
    width: 2vi;
    height: 0.3vi;
    background-color: black;
} 
.progress-bar {
    position: relative;
    top: 0.4vi;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.5vi;
    height: 2.5vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(255, 0, 0) 31%, rgb(250, 149, 149) 0);    
  }
  
  .progress-bar::before {
    font-size: 1vi;
    content: "31%";
  }
.progress-bar2 {
    position: relative;
    top: 0.4vi;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.5vi;
    height: 2.5vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(255, 0, 0) 25%, rgb(250, 149, 149) 0);    
  }
  
.progress-bar2::before {
    font-size: 1vi;
    content: "25%";
}
.progress-bar3 {
    position: relative;
    top: 0.4vi;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.5vi;
    height: 2.5vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(0, 255, 0) 80%, rgb(178, 250, 149) 0);    
}
  
.progress-bar3::before {
    font-size: 1vi;
    content: "80%";
}
.progress-bar4 {
    position: relative;
    top: 0.4vi;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.5vi;
    height: 2.5vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(255, 0, 0) 32%, rgb(250, 149, 149) 0);    
}
  
.progress-bar4::before {
    font-size: 1vi;
    content: "32%";
}
.progress-bar5 {
    position: relative;
    top: 0.4vi;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.5vi;
    height: 2.5vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(0, 255, 0) 80%, rgb(178, 250, 149) 0); 
}
 
  .progress-bar5::before {
    font-size: 1vi;
    content: "95%";
}

.progress-bar6 {
  position: relative;
  top: 0.4vi;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5vi;
  height: 2.5vi;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(255, 208, 0) 75%, rgb(250, 206, 149) 0);    
}

.progress-bar6::before {
  font-size: 1vi;
  content: "75%";
}
.boton_añadir{
    position: absolute;
    display: flex;
    font-family:'MyriadProRegular';
    background-color: #FF7221;
    color: rgb(255, 255, 255);
    font-size: 1vi;
    width: 15vi;
    height: 3vi;
    border-radius:3vi;
    align-items: center;
    justify-content: center;
    left: 42vi;
}

/*--------------------Media-Indicadores----------------*/
@media (max-width: 820px){
    .encabezado{
        display: flex;
        align-items: center;
        border-bottom: 0.1vi #707070 solid;
        height: 10vh;
        width: 100vw;
        font-family:'MyriadProRegular';
    }
    .imgA{
        position: absolute;
        left: 1.5vi;
        width: 4.5vi;
        height: 5vi;
    }
    .añadir{
        position: absolute;
        left: 6.5vi;
        font-size: 2.5vi;
    }
    .imgR{
        position: absolute;
        left: 14.5vi;
        width: 4.5vi;
        height: 5vi;
    }
    .refrescar{
        position: absolute;
        left: 20vi;
        font-size: 2.5vi;
    }
    .imgE{
        position: absolute;
        left: 31vi;
        width: 4.5vi;
        height: 5vi;
    }
    .eliminar{
        position: absolute;
        left: 36vi;
        font-size: 2.5vi;
    }
    .imgL{
        position: absolute;
        left: 48.5vi;
        width: 5vi;
        height: 5vi;
    }
    .imgB{
        position: absolute;
        left: 58vi;
        width: 4.5vi;
        height: 5vi;
    }
    .reportar{
        position: absolute;
        left: 63vi;
        font-size: 2.5vi;
    }
    .imgP{
        position: absolute;
        left: 73.5vi;
        width: 4.5vi;
        height: 5vi;
    }
    .ayuda{
        position: absolute;
        left: 78.5vi;
        font-size: 2.5vi;
    }
    .configuracion{
        position: absolute;
        left: 86.5vi;
        width: 2.5vi;
        height: 2.5vi;
    }
    .notificacion{
        position: absolute;
        left: 90vi;
        width: 2.5vi;
        height: 2.5vi;
    }
    .fotito{
        position: absolute;
        left: 93.2vi;
        width: 5vi;
        height: 5vi;
    }
    .linea1{
        height: 4.5vi;
    }
    .titulo_I{
        position: relative;
        font-family:'MyriadProRegular' ;
        font-size: 3vi;
    }
    .Aqui{
        position: relative;
        font-family:'MyriadProLight';
        font-size: 2vi;
    }
    .nombres{
        position: relative;
        font-family:'MyriadProRegular' ;
        font-size: 1vi;
        display: flex;
        justify-content: space-evenly;
    }
    .barras{
        position: relative;
        left: 92vi;
        top: -3vi;
        display: flex;
        width: 2vi;
        height: 2.5vi;
    }
    .barrita1{
        display: flex;
        width: 2vi;
        height: 0.3vi;
        background-color: black;
    } 
    .barrita2{
        display: flex;
        width: 2vi;
        height: 0.3vi;
        background-color: black;
    } 
    .barrita3{
        display: flex;
        width: 2vi;
        height: 0.3vi;
        background-color: black;
    } 
    
}
/*----------------------------------*/