@font-face {
    font-family: 'MyriadProLight';
    src: url('/fuentes/MyriadProLight.otf') format('truetype');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('/fuentes/MyriadProRegular.ttf') format('truetype');
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url(/media/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------Animacion Fondo---------------*/
.logoK{
    width: 10.2vi;
    height: 9.2vi;
}
.Kario{
    animation-name: kario;
    animation-duration: 2s;
    opacity: 0;
}
@keyframes kario {
    0%{opacity: 1;}
    50%{opacity: 0;}
    94%{opacity: 1;}
    100%{opacity: 1;}
}
/*------------Panel Principal---------------*/
.panel{
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    width: 48.75vi;
    height: 39.636vi;
    border: 0.1vi solid #707070;
    border-radius: 3.5vi;
    opacity: 1;
    text-align: center;
    animation-name: panel;
    animation-duration: 5s;
}
@keyframes panel{
    0%{opacity: 0;}
    40%{opacity: 0;}
    100%{opacity: 1;}
}

.karioMedia{
    position: absolute;
    width: 5.365vi;
    height: 6.042vi;
    top: 1.95vi;
    left: 21.7vi;
}
.Bienvenido{
    position: absolute;
    font-family:'MyriadProRegular' ;
    font-size: 2.084vi;
    width: 26.042vi;
    height: 5vi;
    top: 7vi;
    left: 11.36vi;
}
.porfavor{
    position: absolute;
    font-family:'MyriadProLight';
    font-size: 1.07vi;
    width: 28.2vi;
    height: 1.1vi;
    top: 14vi;
    left: 10.31vi;
}
.usu{
    position: absolute;
    font-family:'MyriadProLight';
    font-size: 1.35vi;
    top: 17vi;
    left:8vi ;
}
.usu2{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 1.08vi;
    border: 0.1vi solid #707070;
    width: 35vi;
    height: 2.7vi;
    top: 19.2vi;
    left: 6.72vi;
}
.cont{
    position: absolute;
    font-family:'MyriadProLight';
    font-size: 1.35vi;
    top: 23vi;
    left:8vi ;
}
.cont2{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 1.08vi;
    border: 0.1vi solid #707070;
    width: 35vi;
    height: 2.7vi;
    top: 25.2vi;
    left: 6.72vi;
}
a{
    text-decoration: none;
}
.ingresar{
    position: absolute;
    background-color: #FF7221;
    font-family:'MyriadProRegular';
    font-size: 1.5vi;
    color: #FFFFFF;
    width: 18.1vi;
    height: 3.77vi;
    border-radius: 2vi;
    top: 30vi;
    left: 15.32vi;
    display: flex;
    align-items: center;
    justify-content: center;
}
.problemas{
    position: absolute;
    font-family:'MyriadProLight';
    font-size: 0.85vi;
    top: 34.5vi;
    left: 8vi;
}